In [35]:
import pandas as pd 
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
from bs4 import BeautifulSoup
import requests
import concurrent.futures
import re
from datetime import datetime as dt
import numpy as np

In [36]:
current_year = dt.now().year

In [37]:
# richest = pd.read_csv('1000_richest_people_in_the_world.csv')

In [38]:
# richest = richest.rename(columns={"Name": "name", "Country":"country", "Industry": "industry", "Net Worth (in billions)": "net_worth_in_billions", "Company":"company"})

In [39]:
# richest['name'] = richest['name'].apply(lambda x: x.replace(' ', '_'))

In [41]:
# richest = richest.sort_values(by='net_worth_in_billions', ascending=False)

In [45]:
industry = richest['industry'].unique()
industry

array(['Retail', 'Finance', 'Technology', 'Manufacturing',
       'Petrochemicals', 'Media', 'Automotive', 'Cosmetics', 'Fashion',
       'Telecommunications'], dtype=object)

# Getting net-worth

In [121]:
url = f"https://beinsure.com/world-richest-people/"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

header = soup.find_all('h2', class_='wp-block-heading')[1]
if header:
    header_text = header.get_text(strip=True)
    if f"TOP 50 World’s Richest People {current_year}" in header_text:
        net_table = soup.find('table')
        if net_table:
            rows = net_table.find_all('tr')[1:]
            data = []
            for row in rows:
                person_list = [td.get_text(strip=True) for td in row.find_all('td')]
                data.append(person_list)
            beinsure_df = pd.DataFrame(data, columns=['rank', 'name', 'net_worth_in_billions', 'company'])
else:
    print('Data Not Available')

In [122]:
beinsure_df['net_worth_in_billions'] = beinsure_df['net_worth_in_billions'].str.replace('[$B]', '', regex=True).astype(float).astype(int)

In [123]:
beinsure_df

,rank,name,net_worth_in_billions,company
0,1,Elon Musk,244,"Tesla, SpaceX"
1,2,Jeff Bezos,196,Amazon
2,3,Mark Zuckerberg,188,Facebook
3,4,Bernard Arnault,184,LVMH
4,5,Larry Ellison,167,Oracle
5,6,Warren Buffett,139,Berkshire Hathaway
6,7,Larry Page,135,Google
7,8,Bill Gates,132,Microsoft
8,9,Sergey Brin,129,Google
9,10,Steve Ballmer,124,Microsoft
10,11,Amancio Ortega,114,Zara
11,12,Mukesh Ambani,113,Diversified
12,13,Jensen Huang,108,Nvidia
13,14,Michael Bloomberg,105,Bloomberg LP
14,15,Michael Dell,96,Dell Tech
15,16,Jim Walton,92,Walmart
16,17,Rob Walton,91,Walmart
17,18,Carlos Slim Helu,91,Telecom
18,19,Francoise Bettencourt Meyers,87,L’Oréal
19,20,Alice Walton,86,Walmart
20,21,Gautam Adani,83,Infrastructure
21,22,Julia Koch,75,Koch Industries
22,23,David Thomson,70,Media
23,24,Charles Koch,68,Koch Industries
24,25,Prajogo Pangestu,64,Barito Pacific
25,26,Changpeng Zhao,58,Binance
26,27,Colin Huang,51,PDD Holdings
27,28,Zhong Shanshan,47,Beverages
28,29,Giovanni Ferrero,44,Nutella
29,30,Zhang Yiming,43,TikTok
30,31,Klaus-Michael Kuehne,42,Shipping
31,32,Stephen Schwarzman,41,Investments
32,33,Tadashi Yanai,41,Fashion
33,34,Mark Mateschitz,40,Red Bull
34,35,John Mars,40,"Candy, Pet food"
35,36,Jacqueline Mars,40,"Candy, Pet food"
36,37,Ma Huateng,40,Online games
37,38,Alain Wertheimer,38,Chanel
38,39,Gerard Wertheimer,38,Chanel
39,40,Ken Griffin,38,Hedge funds
40,41,Savitri Jindal,38,Steel
41,42,Thomas Peterffy,37,Discount brokerage
42,43,Dieter Schwarz,37,RetailChanel
43,44,Li Ka-shing,37,Diversified
44,45,Phil Knight,37,Nike
45,46,Shiv Nadar,36,Software services
46,47,Daniel Gilbert,35,Quicken Loans
47,48,Gianluigi Aponte,35,Shipping
48,49,Rafaela Aponte-Diamant,35,Shipping
49,50,MacKenzie Scott,337,Amazon

In [124]:
# Update the name in beinsure_df
beinsure_df.loc[beinsure_df['name'] == 'John Mars', 'name'] = 'John Franklyn Mars'
beinsure_df.loc[beinsure_df['name'] == 'Ken Griffin', 'name'] = 'Kenneth C. Griffin'
beinsure_df.loc[beinsure_df['name'] == 'Daniel Gilbert', 'name'] = 'Dan Gilbert'
beinsure_df.loc[beinsure_df['name'] == 'David Thomson', 'name'] = 'David Thomson, 3rd Baron Thomson of Fleet'
beinsure_df.loc[beinsure_df['name'] == 'MacKenzie Scott', 'net_worth_in_billions'] = 33

In [125]:
beinsure_df['name'] = beinsure_df['name'].apply(lambda x: x.replace(' ', '_'))

In [126]:
beinsure_df

,rank,name,net_worth_in_billions,company
0,1,Elon_Musk,244,"Tesla, SpaceX"
1,2,Jeff_Bezos,196,Amazon
2,3,Mark_Zuckerberg,188,Facebook
3,4,Bernard_Arnault,184,LVMH
4,5,Larry_Ellison,167,Oracle
5,6,Warren_Buffett,139,Berkshire Hathaway
6,7,Larry_Page,135,Google
7,8,Bill_Gates,132,Microsoft
8,9,Sergey_Brin,129,Google
9,10,Steve_Ballmer,124,Microsoft
10,11,Amancio_Ortega,114,Zara
11,12,Mukesh_Ambani,113,Diversified
12,13,Jensen_Huang,108,Nvidia
13,14,Michael_Bloomberg,105,Bloomberg LP
14,15,Michael_Dell,96,Dell Tech
15,16,Jim_Walton,92,Walmart
16,17,Rob_Walton,91,Walmart
17,18,Carlos_Slim_Helu,91,Telecom
18,19,Francoise_Bettencourt_Meyers,87,L’Oréal
19,20,Alice_Walton,86,Walmart
20,21,Gautam_Adani,83,Infrastructure
21,22,Julia_Koch,75,Koch Industries
22,23,"David_Thomson,_3rd_Baron_Thomson_of_Fleet",70,Media
23,24,Charles_Koch,68,Koch Industries
24,25,Prajogo_Pangestu,64,Barito Pacific
25,26,Changpeng_Zhao,58,Binance
26,27,Colin_Huang,51,PDD Holdings
27,28,Zhong_Shanshan,47,Beverages
28,29,Giovanni_Ferrero,44,Nutella
29,30,Zhang_Yiming,43,TikTok
30,31,Klaus-Michael_Kuehne,42,Shipping
31,32,Stephen_Schwarzman,41,Investments
32,33,Tadashi_Yanai,41,Fashion
33,34,Mark_Mateschitz,40,Red Bull
34,35,John_Franklyn_Mars,40,"Candy, Pet food"
35,36,Jacqueline_Mars,40,"Candy, Pet food"
36,37,Ma_Huateng,40,Online games
37,38,Alain_Wertheimer,38,Chanel
38,39,Gerard_Wertheimer,38,Chanel
39,40,Kenneth_C._Griffin,38,Hedge funds
40,41,Savitri_Jindal,38,Steel
41,42,Thomas_Peterffy,37,Discount brokerage
42,43,Dieter_Schwarz,37,RetailChanel
43,44,Li_Ka-shing,37,Diversified
44,45,Phil_Knight,37,Nike
45,46,Shiv_Nadar,36,Software services
46,47,Dan_Gilbert,35,Quicken Loans
47,48,Gianluigi_Aponte,35,Shipping
48,49,Rafaela_Aponte-Diamant,35,Shipping
49,50,MacKenzie_Scott,33,Amazon

In [143]:

beinsure_df['age'] = None
# Function to get birthplace, nationality, and citizenship
def get_info(name):
    try:
        url = f'https://en.wikipedia.org/wiki/{name}'
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        table = soup.find('table', class_='infobox biography vcard') or soup.find('table', class_='infobox vcard')
        
        born = None
        nationality = None
        citizenship = None

        if table:
            rows = table.find_all('tr') 
            for row in rows:
                header = row.find('th')
                if header:
                    header_text = header.get_text(strip=True)
                    # header_text_list.append(header_text)
                    if 'Died' in header_text:
                        age_died = row.find('td')
                        if age_died:
                            text = age_died.get_text(strip=True)
                            age_match = re.search(r'\(aged\s*([^\)]+)\)', text)
                            
                            if age_match:
                                age = age_match.group(1) # this gets the full match

                    elif 'Born' in header_text:

                        birthplace_td = row.find('td')
                        birthplace_div = row.find('div')
                        age_span = row.find('span', class_ = 'noprint ForceAgeToShow')
                        age_td = row.find('td') 

                        if birthplace_td:
                            # Extract the text and get the last part, which should be the country
                            born_text = birthplace_td.get_text().split(',')[-1]
                            born = re.sub(r'\[.*?\]', '', born_text).strip()

                        elif birthplace_div:
                            born_text = birthplace_div.get_text().split(',')[-1]
                            born = re.sub(r'\[.*?\]', '', born_text).strip()

                        if age_span:
                            age_text = age_span.get_text(strip=True)
                            age = re.search(r'\d+', age_text).group()

                        elif age_td:
                            age_text = age_td.get_text(strip=True)
                            # print(age_text)
                            age_match = re.search(r'\(age\s*(\d+)(?:–\d+)?\)', age_text)
                            if age_match:
                                age = age_match.group(1)
                            
                    if 'Nationality' in header_text:
                        nationality = row.find('td').get_text()
                    if 'Citizenship' in header_text:
                        citizenship_td = row.find('td')
                        if citizenship_td:
                            # Check if there are any list items (<li>) within the 'td' element
                            citizenship_list = citizenship_td.find_all('li')
                            if citizenship_list:
                                # Extract text from list items and clean it
                                citizenship_text = ', '.join([li.get_text() for li in citizenship_list]).split(',')[-1]
                                citizenship = re.sub(r'\s*\([^)]*\)', '', citizenship_text)  # Remove text in parentheses
                            else:
                                # If there are no list items, just get the text directly from 'td'
                                citizenship_text = citizenship_td.get_text()
                                citizenship = re.sub(r'\[.*?\]', '', citizenship_text).strip()
                                
        # Determine the country based on priority
        # Set country in order of priority: nationality > citizenship > birthplace
                if nationality:
                    country = nationality
                elif citizenship:
                    country = citizenship
                else:
                    country = born

        # Use regex to find "United States" if it's part of a longer string
        # if country:
        #     match = re.search(r'United States', country)
        #     if match:
        #         country = match.group()
        return country, age 
    
    except Exception as e:
        return str(e)

# Fetch information in parallel
with concurrent.futures.ThreadPoolExecutor() as executor:
    info = list(executor.map(get_info, beinsure_df['name']))

# Unpack the list of tuples into two separate columns
beinsure_df['country'], beinsure_df['age'] = zip(*info)
# grouped_df['country'] = info

# Strip any extra spaces and replace 'U.S.' or 'American' with 'United States'
beinsure_df['country'] = beinsure_df['country'].str.strip().apply(lambda x: 'United States' if x in ['U.S.', 'US', 'American'] else x)
beinsure_df['country'] = beinsure_df['country'].str.strip().apply(lambda x: 'Italian' if x in ['Italy'] else x)
beinsure_df['country'] = beinsure_df['country'].str.strip().apply(lambda x: 'Indian' if x in ['India'] else x)

In [144]:
beinsure_df

,rank,name,net_worth_in_billions,company,age,country
0,1,Elon Musk,244,"Tesla, SpaceX",53,United States
1,2,Jeff Bezos,196,Amazon,60,United States
2,3,Mark Zuckerberg,188,Facebook,40,United States
3,4,Bernard Arnault,184,LVMH,75,France
4,5,Larry Ellison,167,Oracle,80,United States
5,6,Warren Buffett,139,Berkshire Hathaway,93,United States
6,7,Larry Page,135,Google,51,United States
7,8,Bill Gates,132,Microsoft,68,United States
8,9,Sergey Brin,129,Google,50,United States
9,10,Steve Ballmer,124,Microsoft,68,United States
10,11,Amancio Ortega,114,Zara,88,Spain
11,12,Mukesh Ambani,113,Diversified,67,Indian
12,13,Jensen Huang,108,Nvidia,61,United States
13,14,Michael Bloomberg,105,Bloomberg LP,82,United States
14,15,Michael Dell,96,Dell Tech,59,United States
15,16,Jim Walton,92,Walmart,76,United States
16,17,Rob Walton,91,Walmart,79,United States
17,18,Carlos Slim Helu,91,Telecom,84,Mexico
18,19,Francoise Bettencourt Meyers,87,L’Oréal,71,France
19,20,Alice Walton,86,Walmart,74,United States
20,21,Gautam Adani,83,Infrastructure,62,Indian
21,22,Julia Koch,75,Koch Industries,62,United States
22,23,"David Thomson, 3rd Baron Thomson of Fleet",70,Media,67,Canadian and British
23,24,Charles Koch,68,Koch Industries,88,United States
24,25,Prajogo Pangestu,64,Barito Pacific,80,Indonesian
25,26,Changpeng Zhao,58,Binance,47,Canadian
26,27,Colin Huang,51,PDD Holdings,44,China
27,28,Zhong Shanshan,47,Beverages,69,China
28,29,Giovanni Ferrero,44,Nutella,59,Italian
29,30,Zhang Yiming,43,TikTok,41,China
30,31,Klaus-Michael Kuehne,42,Shipping,87,Germany
31,32,Stephen Schwarzman,41,Investments,77,United States
32,33,Tadashi Yanai,41,Fashion,75,Allied-occupied Japan
33,34,Mark Mateschitz,40,Red Bull,32,Austrian
34,35,John Franklyn Mars,40,"Candy, Pet food",88,United States
35,36,Jacqueline Mars,40,"Candy, Pet food",84,United States
36,37,Ma Huateng,40,Online games,52,China
37,38,Alain Wertheimer,38,Chanel,75,France
38,39,Gerard Wertheimer,38,Chanel,73,France
39,40,Kenneth C. Griffin,38,Hedge funds,55,United States
40,41,Savitri Jindal,38,Steel,84,Indian
41,42,Thomas Peterffy,37,Discount brokerage,79,United States
42,43,Dieter Schwarz,37,RetailChanel,84,Germany
43,44,Li Ka-shing,37,Diversified,96,Hong KongCanada
44,45,Phil Knight,37,Nike,86,United States
45,46,Shiv Nadar,36,Software services,79,British India
46,47,Dan Gilbert,35,Quicken Loans,62,United States
47,48,Gianluigi Aponte,35,Shipping,84,Italian
48,49,Rafaela Aponte-Diamant,35,Shipping,79,Italian
49,50,MacKenzie Scott,33,Amazon,54,United States

In [145]:
beinsure_df['name'] = beinsure_df['name'].apply(lambda x: x.replace('_', ' ') if isinstance(x, str) else x)

In [146]:
beinsure_df['age'] = beinsure_df['age'].astype(int)

In [147]:
beinsure_df['rank'] = beinsure_df['rank'].astype(int)

In [149]:
industry_map = {
    'Google': 'Technology',
    'Shipping': 'Transport',
    'Nike': 'Manufacturing',
    'PDD Holdings': 'E-commerce',
    'Nvidia': 'Technology',
    'Dell Tech': 'Technology',
    'TikTok': 'Social networking',
    'Barito Pacific':'Conglomerate',
    'Quicken Loans': 'Finace',
    'Steel':'Manufacturing',
    'Hedge funds': 'Finance',
    'Binance': 'Finance',
    'Chanel': 'Fashion',
    'Investments': 'Investments',
    'Red Bull': 'Conglomerate',
    'Beverages': 'Beverages',
    'Fashion': 'Fashion',
    'Nutella': 'Food and beverage',
    'Media': 'Media',
    'Telecom': 'Telecommunication',
    'Software services': 'Technology',
    'Discount brokerage': 'FinTech',
    'RetailChanel': 'Retail',
    'Facebook': 'Technology',
    'Amazon': 'Technology',
    'Candy, Pet food': 'Manufacturing',
    'Microsoft': 'Technology',
    'Oracle': 'Technology',
    'Zara': 'Fashion',
    'LVMH': 'Fashion',
    'Online games': 'Entertainment',
    'Koch Industries': 'Petrochemicals',
    'Tesla, SpaceX': 'Automotive',
    'Walmart': 'Retail',
    'L’Oréal': 'Cosmetics',
    'Bloomberg LP': 'Media',
    'Berkshire Hathaway': 'Finance',
    'Diversified': 'Conglomerate'
}

# Map the industry based on the company
beinsure_df['industry'] = beinsure_df['company'].map(industry_map)

In [150]:
save a DataFrame to an Excel file
beinsure_df.to_excel('world_top_50_billionaires.xlsx', index=False)

In [28]:
# Which gender is the most richest? (Let's get their genders and age through web scraping...)
# Which industry have more richest people?
# Which Country have more richest people?
# Let's also do this in Excel....